![logo_ironhack_blue 7](https://user-images.githubusercontent.com/23629340/40541063-a07a0a8a-601a-11e8-91b5-2f13e4e6b441.png)

# Lab | Inferential statistics - T-test & P-value

## Importing Libraries

In [1]:
import pandas as pd
import numpy as np
from scipy.stats import ttest_ind
import scipy.stats as st
from scipy.stats import f_oneway

### Instructions

#### 1. *One tailed t-test*

- In a packing plant, a machine packs cartons with jars. It is supposed that a new machine will pack faster on the average than the machine currently used. To test that hypothesis, the times it takes each machine to pack ten cartons are recorded. The results, in seconds, are shown in the tables in the file `files_for_lab/machine.txt`.

In [2]:
machine = pd.read_csv('./files_for_lab/machine.txt', encoding='utf-8', sep='\t')
machine

   New machine      Old machine
0         42.1             42.7
1         41.0             43.6
2         41.3             43.8
3         41.8             43.3
4         42.4             42.5
5         42.8             43.5
6         43.2             43.1
7         42.3             41.7
8         41.8             44.0
9         42.7             44.1

Assume that there is sufficient evidence to conduct the t test, does the data provide sufficient evidence to show if one machine is better than the other?

In [3]:
old_machine = machine['    Old machine']
new_machine = machine['New machine']
new_mean = new_machine.mean()
new_std = new_machine.std(ddof=1)
old_mean = np.mean(old_machine)
old_std = np.std(old_machine)
sem = new_std / np.sqrt(len(new_machine))
t_stat = (new_mean - old_mean) / sem
df = len(new_machine) - 1
alpha = 0.05
print("Old Machine mean is: {:.2f}".format(old_mean))
print("Old Machine standard deviation is: {:.2f}".format(old_std))
print()
print("Our New Machine mean is: {:.2f}".format(new_mean))
print("Our New Machine standard deviation is: {:.2f}".format(new_std))
print("The sem is: {:.2f}".format(sem))
print()
t = (new_mean - old_mean) / sem
print("Our statistic is: {:.2f}".format(t))
print("The p_value corresponding to our statistic is: {:.2f}".format(st.t.cdf(t,df = len(new_machine)-1)))
print("The significance level is set to 0.05")
print("We accept the H0?")

Old Machine mean is: 43.23
Old Machine standard deviation is: 0.71

Our New Machine mean is: 42.14
Our New Machine standard deviation is: 0.68
The sem is: 0.22

Our statistic is: -5.04
The p_value corresponding to our statistic is: 0.00
The significance level is set to 0.05
We accept the H0?

In [4]:
# The data doesn't provide sufficient evidence to show if one machine is better(quicker) than the other.

#### 2. *Matched Pairs Test*

- In this challenge we will compare dependent samples of data describing our Pokemon (file `files_for_lab/pokemon.csv`). Our goal is to see whether there is a significant difference between each Pokemon's defense and attack scores. Our hypothesis is that the defense and attack scores are equal. Compare the two columns to see if there is a statistically significant difference between them and comment your result.

In [5]:
pokemon = pd.read_csv('./files_for_lab/pokemon.csv')

In [6]:
pokemon.head()

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False

In [7]:
pokemon.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 800 entries, 0 to 799
Data columns (total 13 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   #           800 non-null    int64
 1   Name        800 non-null    object
 2   Type 1      800 non-null    object
 3   Type 2      414 non-null    object
 4   Total       800 non-null    int64
 5   HP          800 non-null    int64
 6   Attack      800 non-null    int64
 7   Defense     800 non-null    int64
 8   Sp. Atk     800 non-null    int64
 9   Sp. Def     800 non-null    int64
 10  Speed       800 non-null    int64
 11  Generation  800 non-null    int64
 12  Legendary   800 non-null    bool
dtypes: bool(1), int64(9), object(3)
memory usage: 75.9+ KB

In [8]:
sample = pokemon.sample(30, random_state=1)
sample['difference'] = sample['Attack']-sample['Defense']
sample = sample.drop(columns = ['Name', 'Type 1', 'Type 2', 'Total', 'HP', 'Sp. Atk', 'Sp. Def', 'Speed', 'Generation', 'Legendary'], axis=1).reset_index(drop=True)

In [9]:
sample.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30 entries, 0 to 29
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   #           30 non-null     int64
 1   Attack      30 non-null     int64
 2   Defense     30 non-null     int64
 3   difference  30 non-null     int64
dtypes: int64(4)
memory usage: 1.1 KB

In [10]:
sample_diff_mean, sample_diff_std = sample['difference'].mean(), sample['difference'].std(ddof=1)
sample_diff_mean, sample_diff_std

(2.8, 36.32079294288603)

In [11]:
t = sample_diff_mean / ( sample_diff_std / np.sqrt(sample.shape[0]) )
print("The mean of our samples differences is: {:.2f}".format(sample_diff_mean))
print("The standard deviation of our samples differences is: {:.2f}".format(sample_diff_std))
print("Our t statistics is: {:.2f}".format(t))

The mean of our samples differences is: 2.80
The standard deviation of our samples differences is: 36.32
Our t statistics is: 0.42

In [12]:
tc = st.t.ppf(1-(0.05/2),df= sample.shape[0] - 1)
tc

2.045229642132703

In [13]:
st.ttest_rel(sample['Attack'],sample['Defense'])

Ttest_relResult(statistic=0.4222438544846934, pvalue=0.6759611742317202)

As our t statistics is 0.42, and the critical value is 2.045, we accept the Hypothesis.

# Inferential statistics - ANOVA

Note: The following lab is divided in 2 sections which represent activities 3 and 4.

## Part 1

In this activity, we will look at another example. Your task is to understand the problem and write down all the steps to set up ANOVA. After the next lesson, we will ask you to solve this problem using Python. Here are the steps that you would need to work on:
    - Null hypothesis
    - Alternate hypothesis
    - Level of significance
    - Test statistic
    - P-value
    - F table

### Context

Suppose you are working as an analyst in a microprocessor chip manufacturing plant. You have been given the task of analyzing a plasma etching process with respect to changing Power (in Watts) of the plasma beam. Data was collected and provided to you to conduct statistical analysis and check if changing the power of the plasma beam has any effect on the etching rate by the machine. You will conduct ANOVA and check if there is any difference in the mean etching rate for different levels of power. You can find the data `anova_lab_data.xlsx` file in the `files_for_lab` folder  

Data was collected randomly and provided to you in the table as shown: [link to the image - Data](https://education-team-2020.s3-eu-west-1.amazonaws.com/data-analytics/7.05/7.05-lab_data.png)

In [14]:
anova = pd.read_excel('./files_for_lab/anova_lab_data.xlsx')

In [15]:
anova

   Power   Etching Rate
0   160 W          5.43
1   180 W          6.24
2   200 W          8.79
3   160 W          5.71
4   180 W          6.71
5   200 W          9.20
6   160 W          6.22
7   180 W          5.98
8   200 W          7.90
9   160 W          6.01
10  180 W          5.66
11  200 W          8.15
12  160 W          5.59
13  180 W          6.60
14  200 W          7.55

### - State the null hypothesis

The mean Etching Rate is the same for all Powers.

### - State the alternate hypothesis

There will be at least one difference in the mean Etching Rate for a Power.

### - What is the significance level

The significance level is usually 0.05, meaning that it is the threshold to reject the null hypothesis.

### - What are the degrees of freedom of model, error terms, and total DoF

The Degrees of Freedom are the number of independent variables minus 1. Therefore three kinds of Power (160, 180, 200), minus 1. The degree will be 2. 
The Error Terms are the dependent variables minus the independent variables. Therefore will be 15 Etching Rates minus 3 Powers. The error terms will be 12. 
The Total Degrees of Freedom are the total number of variables minus 1. So 15 rows minus 1. It will be 14.

## Part 2

- In this section, use the Python to conduct ANOVA.
- What conclusions can you draw from the experiment and why?

In [16]:
S2t = 0
for power in anova['Power '].unique():
    ng = len(anova[anova['Power '] == power])
    S2t  += ng * ( ( anova[anova['Power '] == power]['Etching Rate'].mean() - anova['Etching Rate'].mean() ) ** 2)
S2t /= ( anova['Power '].nunique() - 1 ) 

print("The value of S2t is {:.2f}".format(S2t))

The value of S2t is 9.09

In [17]:
S2E = 0
for power in anova['Power '].unique():
    for rate in anova[anova['Power '] == power]['Etching Rate']:
        S2E += ( rate - anova[anova['Power '] == power]['Etching Rate'].mean() ) ** 2
S2E /= ( len(anova) - anova['Power '].nunique() )

print()
print("The value of S2E is {:.2f}".format(S2E))

The value of S2E is 0.25

In [18]:
S2E2 = 0
for power in anova['Power '].unique():
    ng = len(anova[anova['Power '] == power])
    S2E2 += ( ng - 1 ) * np.var(anova[anova['Power '] == power]['Etching Rate'],ddof=1)
S2E2 /= ( len(anova) - anova['Power '].nunique() )

print()
print("The value of S2E is {:.2f}".format(S2E2))

The value of S2E is 0.25

In [19]:
F = S2t / S2E
print("The value of F is {:.2f}".format(F))

The value of F is 36.88

In [20]:
anova['Power '].nunique()

3

In [21]:
d1 = anova['Power '].nunique() - 1
d2 = len(anova) - anova['Power '].nunique()

print("Number of degrees of freedom d1: ",d1)
print("Number of degrees of freedom d2: ",d2)

Number of degrees of freedom d1:  2
Number of degrees of freedom d2:  12

In [22]:
st.f.cdf(F,dfn=d1, dfd=d2)

0.9999924934157276

In [23]:
1 - st.f.cdf(F,dfn=d1, dfd=d2)

7.5065842723986975e-06

In [24]:
Fc = st.f.ppf(1-0.05,dfn=d1, dfd=d2)

print("The critical value which corresponds to an area of 0.05 is: {:.2f}".format(Fc))

The critical value which corresponds to an area of 0.05 is: 3.89

We reject the Hypothesis as the critical value is higher than the significance level.